html, body {
  height: 100%;
  width: 100%
}

button, a {
  text-decoration: none;
}
#division {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middleText {
  text-align: center;
}

.backToHome {
  border: 3px solid black;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}