html, body {
  height: 100%;
  width: 100%
}

button, a {
  text-decoration: none;
}
#division {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middleText {
  text-align: center;
}

.backToHome {
  border: 3px solid black;
  width: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.division {
  margin-top: 25%;
}

.division button {
  border-radius: 5px;
}

.first {
  text-align: center;
}

h1 {
  font-family: 'Covered By Your Grace', cursive;
}

button:hover {
  background-color: white;
}

button {
  border-radius: 5px;
}

#formh1 {
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

form input {
  margin-top: 4%;
  margin-bottom: 4%;
}

form button {
  margin-left: 25%;
  margin-right: 25%;
}

#division {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}

#division button {
  margin-bottom: 5%;
}